<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:total_price]} type="number" label="Total price" step="any" />
  <:actions>
    <.button>Save Order</.button>
  </:actions>
</.simple_form>
